<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}
    </title>

    <!-- Inclusion de Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body >

<div class="container-fluid p-0">
        <!-- En-tête -->
        <header class="mb-3 bg-success d-flex justify-content-center">
            <nav class="navbar navbar-expand-lg navbar-light bg-success col-md-6">
                <a class="navbar-brand text-light" href="/blog">Mon Blog Professionnel</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/blog">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/blog/bloglist">Liste des Blogs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/blog/connection">Connexion</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
    </div>
    
    <!-- Contenu principal -->
    <main style="height:700px;">
        <div class="row">
            <div class="col-md-12">
                {% block content %}
                    {{ title }}
                {% endblock %}
            </div>
        </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>